OPENAI_API_KEY="enter your openai api key here"
MODEL="gpt-4"
MAX_TOKENS=9950 # check what max token the model/api supports and adjust accordingly


# MODEL="gpt-3.5-turbo" # IMO gpt3.5 is good enough
# MAX_TOKENS=4000
